
<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%# the form_for uses :password_reset and not @password_reset because password_reset is not an instance of a password_reset database model. :password_reset names the resource and password_resets_path is the named route for the form action method to post to. %>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %> 
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
