Hi <%= @user.name %>,

Welcome to the Sample App! Click on the link below to activate your account:
<%#= Es wird eine url mit dem user activation token und der user email als Query parameter erstellt
Wenn der Link geclickt wird wird eine Datenbankabfrage gestartet falls activation token und digest für den User zusammenpassen, dann wird der user aktiviert%>
<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>