<%#as long as the current user is not the user who is shown in the view  and if the current_user is following the shown user render an unfollow button/action else render a follow button/action %>
<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
