<% provide(:title, 'All Users') %>
<h1>All users</h1>
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <%#Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users, Rails automatically iterates through them and renders each one with the _user.html.erb partial (inferring the name of the partial from the name of the class). Therails generate migration add_admin_to_users admin:boolean %>
  <% end %>
</ul>
<%= will_paginate %> <%#inside a users view, it automatically looks for an @users object, and then displays pagination links to access  the other pages.For that we need to paginate the results of User using the paginate method%>
